{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb",
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": [
        "prettier",
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "test":true,
        "expect": true,
        "document": true
    },
    "rules": {
        "prettier/prettier": ["error", { 
            "arrowParens": "avoid" 
            }],
        "arrow-parens": [2, "as-needed"],
        "react/function-component-definition": [1, { 
            "namedComponents" : "arrow-function",
            "unamedComponents" : "arrow-function" 
            }],
        "no-console": "off",
        "react-hooks/exhaustive-deps":          "warn",
        "react-hooks/rules-of-hooks":           "error",
        "react/jsx-filename-extension":         [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent-props":               [2, 4],
        "react/jsx-indent":                     [2, 4]
    }
}
