button {
    z-index: 5000;
}

.logoutCSS {
    right: 0.5rem;
    position: absolute;
}

.home {
    left: .5rem;
    position: absolute;
}

.placesGo {
    left: 9rem;
    width: 10.938rem;
    position: absolute;
}

.placesBeen {
    left: 16.1em;
    width: 10.938rem;
    position: absolute;
}
