.login {
    margin: 2rem 0;
    padding: 1rem 2rem;
    width: 120px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    background-color: #1fd5db;
}

.login:hover {
    background-color: #21678f;
  }