.places-button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 0.938rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}
.delete-button {
    background-color: #a12323;
}

.update-button {
    background-color: #1fd5db;
}